@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: iranSans;
  src: url("./assets/fonts/IRANSansWeb.woff2");
}

@font-face {
  font-family: Gilroy;
  src: url("./assets/fonts/Gilroy-ExtraBold.otf");
}

body {
  margin: 0;
  font-family: 'iranSans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-border-transition {
  transition-property: color, background-color, text-decoration-color, fill, stroke !important;
}

.homeBg {
  background-image: url('./assets/background.jpg');
}

.dir-rtl {
  direction: rtl;
}

.dir-ltr {
  direction: ltr;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px none inset;
  /* Background color */
  -webkit-text-fill-color: #6C5DD3;
  -webkit-box-shadow: 0 0 0 30px #d2cbff54 inset !important;
  /* Text color */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scrollbar-none {
  scrollbar-width: none
}

/* Video Player */
/* Track Style */
.progress-bar::-webkit-slider-runnable-track {
  width: 100%;
  height: 0px;
  background: none;
  border-radius: 4px;
}

.progress-bar::-moz-range-track {
  width: 100%;
  height: 0px;
  background: none;
  border-radius: 4px;
}

/* Thumb Style */
.progress-bar::-webkit-slider-thumb {
  appearance: none;
  position: relative;
  transform: translate(0%, -50%);
  width: 35px;
  height: 15px;
  background-image: none;
  z-index: 50;

  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.progress-bar::-moz-range-thumb {
  appearance: none;
  position: relative;
  transform: translate(-0%, -10%);
  width: 35px;
  height: 15px;
  background-image: none;
  z-index: 50;

  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


/* loading Animation */

.loader {
  color: rgb(124, 124, 124);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--bg-color) 10%,
      transparent 30%,
      transparent 70%,
      var(--bg-color) 90%);
  z-index: 20;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: #956afa;
  animation: spin_4991 4s infinite;
}

/* .darkAnimation {
  transition: ease-in-out all 700ms;
} */

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}